.bg-login {
  background-image: url("/bg.jpg");
  min-height: 100vh;
}

.bg-input-login {
  background-color: #ffff;

  bg-opacity: 50;
}

.bg-ter {
  background-image: url("/bglogin.jpg");
  min-height: 100vh;
}

.bg-ppdb {
  background-image: url("/asu.png");
  min-height: 100vh;
}

.bg-guru {
  background-color: #debace;
}
