.bg-login {
  background-image: url("/bglogin.jpg");
  min-height: 100vh;
}

.bg-input-login {
  background-color: #ffff;

  bg-opacity: 50;
}

.bg-home-guru {
  background-image: url("/bglogin.jpg");
  min-height: 100vh;
}
